body {
  margin: 0;
}

.container {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
}

.inline-code-sample {
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 2px;
  font-family: Consolas, Courier, monospace;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .container {
    width: auto;
  }
}